@using SongTranslator.Services
@using System.Text.Json;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<h3>Get Song Lyrics</h3>

<input @bind="artist" placeholder="Artist name" />
<input @bind="title" placeholder="Song title" />
<button @onclick="FetchLyrics">Fetch Lyrics</button>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<p>@lyrics</p>

<p>@debugMessage</p>

<p role="status">Current count: @currentCount</p>


@code {
    private string artist = "";
    private string title = "";
    private string lyrics = "";
    private string debugMessage = "";
    private int currentCount = 0;

    private FetchLyricsService lyricsService = new FetchLyricsService();

    private async Task FetchLyrics()
    {
        debugMessage = "clicked";

        Console.WriteLine("clicked");
        lyrics = await lyricsService.LyricsTextAsync(artist, title);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
